@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/range-slider.css";
@import "additional-styles/toggle-switch.css";
@import "additional-styles/theme.css";

@import "tailwindcss/utilities";

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
  .rtl {
    direction: rtl;
  }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
  display: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav-links:hover {
  box-shadow: 0 2px 0 0 rgb(217 227 234);
}

#header-blur {
  backdrop-filter: blur(20px);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.06) 0%,
    rgba(107, 107, 107, 0.07) 100%
  );
}

.header-top {
  transition: all ease-in .4s;
}